body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.typesofexercises{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  background-color: rgb(247, 245, 245);
}

.ExerciseName-Details{
  background: rgb(255, 255, 255);
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.curTime{
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  
}
.home{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sessColor{
  color: #39b491
}

.create {
  position: absolute;
  left: 80%;
  top: 7%;
}

#exercisenameinputform {
  display: block;
  margin: 5px;
}

#exercisenameformbtn {
  margin-top: 10px;
  margin-left: 6px;
  background: #39b491;
  border: 0;
  color: #fff;
}

.history {
  background-color: rgb(247, 245, 245);

}
.SessionDetails{
  background: rgb(255, 255, 255);
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#exercisebtn {
  text-align: right;
  border: 0;
  margin: 10px;
  color:white;
  background-color: #e44444;
}

#exercisebtn:hover{
  background-color: #ed6969;
}

#exercisebtn:active{
  background-color: #e42424;
}
#ExerciseNameEditBtn {
  border: 0;
  color:rgb(0, 0, 0);
  margin: 10px;
}

#sessiondelete {
  border: 0;
  background-color: #e44444;
  color: white;
  margin: 10px;
}

#sessiondelete:hover{
  background-color: #ed6969;
}

#sessiondelete:active{
  background-color: #e42424;
}

#sessioninfo{
  border: 0;
  margin: 10px;
}

#sessionedit{
  border: 0;
  margin: 10px;
}
.popup {
  position: relative;
  top: 0;
  left: 0;
  width: 150%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  display: inline;
  justify-content: center;
  align-items: center;
}
.popup-inner {
  position: relative; 
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
}

.popup-inner {
  position: relative;
  top: 16px;
  right: 16px;
}

.close-btn{
  border:0px;
}

#submiteditform{
  border:0px;
  background: #39b491;
  color:#fff;
  margin-top: 10px;
}

#historyclose {
  border: 0;
}


.NewWorkoutPopUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewWorkoutPopup-Inner {
  position: relative; 
  padding: 30px;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
}

#NewWorkoutClose{
  background-color: black;
  color: white;
  border: 0px;
  position: absolute;
  top: 16px;
  right: 16px;
}

#addexercisebtn {
  border:0px;
}

#startsessionbtn{
  border: 0px;
  background-color: black;
  color: white;
  text-align: center;
}

#addexercisebtn{
  position: absolute;
  left: 42%;
  right: 42%;
}

#removeexercisebtn{  
  border: 0px;
  color: red;
  margin-top: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#exerciseinputnamefield{
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

#removebtnforset{
  border: 0px;
  margin-left: 10px;
  background-color: rgb(206, 31, 31);
  color: white;
}

.exerciseoptionsbtn{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.setinfo{
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

#startsessionbtn{
  margin-top: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#addSet{
  margin-right: 10px;
  border: 0px;
}

#donebtn{
  color: rgb(48, 185, 2);
  margin-left: 10px;
  border: 0px;
}

#clearfields{
  border: 0px;
}

.sessionnamefield{
  margin-top: 40px;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

#newworkout-btn{
  margin-top: 10px;
  width:48%;
  margin-left: 1%;
  border: 0px;
  background-color: #39b491;
  color: white;
}

#newworkout-btn:active{
  background-color: #2a8067;
}

#createroutine-btn{
  border:0px;
  width: 100%;
  margin-top: 10px;
  background-color: #39b491;
  color: white;
  padding: 20px;
}

#createroutine-btn:hover{
  background-color: #37ab8a;

}

.RoutinePopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.RoutinePopup-Inner {
  position: relative; 
  padding: 30px;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
}

#RoutinePopupClose-btn{
  background-color: black;
  color: white;
  border: 0px;
  position: absolute;
  top: 16px;
  right: 16px;
}

#RoutinePopupClose-btn:hover{
  background-color: rgb(87, 84, 84);
}

.RoutineNameField{
  margin-top: 10px;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

#routinesubmit-btn{
  background-color: black;
  color: white;
  position: relative;
  left:50%;
  transform: translateX(-50%);
  margin-top: 10px;

}
#routinesubmit-btn:hover{
  background-color: rgb(43, 42, 42);
}

#routinesubmit-btn:active{
  background-color: rgb(62, 61, 61);
}

#RoutineAddExercise-btn{
  background-color: #39b491;
  border: 0px;
  color: white;
  position: relative;
  left:50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

#RoutineAddExercise-btn:hover{
  background-color: #3fc19c;
}

#RoutineAddExercise-btn:active{
  background-color: #44d6ad;
}

#exercisenametextfield, #exercisendesctextfield{
  text-align: center;
  display: block;
  margin-top: 10px;
  position: relative;
  left:50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.routinebuttons{
  position: relative;
  left:50%;
  transform: translateX(-8%);
  margin-top: 10px;
}

.routineform{
  text-align: center;
  margin-top: 10px;
}

#routinexercise-add-btn{
  margin-top: 10px;
}

#exercisenameinput{
  margin-right: 5px;
  text-align: center;
}

#exercisedescinput{
  margin-right: 5px;
  text-align: center;
}

#exercisefields{
  margin-bottom: 5px;
}

#exerciseinputremove-btn{
  border: 0px;
  background-color: rgb(206, 31, 31);
  color: white;
}

#exerciseinputremove-btn:hover{
  background-color: rgb(210, 72, 72);
}

#exerciseinputremove-btn:hover{
  background-color: rgb(230, 109, 109);
}

#routinexercise-add-btn{
  border: 0px;
  background-color: black;
  color: white;
  margin-right: 5px;
}
#routinexercise-add-btn:hover{
  background-color: rgb(40, 40, 40);
}

#routinexercise-add-btn:active{
  background-color: rgb(67, 67, 67);
}


#formdone-btn{
  border: 0px;
  background-color: #39b491;
  color: white;
}

#formdone-btn:hover{
  background-color: #39c59d;

}
#formdone-btn:active{
  background-color: #44d6ad;
}

#Routine-Card{
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  padding-bottom: 10px;
  margin:10px;
}
#routine-title{
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
}

#routine-delete-btn{
  background-color: #e44444;
  color:white;
  border: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

#routine-details-btn{
  border: 0px;
}

#routine-delete-btn:hover{
  background-color: #ed6969;
}

#routine-delete-btn:active{
  background-color: #e42424;
}

#routineinfo-close-btn{
  margin-left: 5px;
  border: 0px;
  color: white;
  background-color: black;
}
#routineinfo-close-btn:active{
  background-color: rgb(46, 46, 46);
}

#routineinfo{
  margin-top: 5px;
}

#routineexercise-info{
  margin-left: 5px;
}

#routines-btn{
  margin-top: 10px;
  width: 48%;
  margin-left: 2%;
  border: 0px;
  background-color: #39b491;
  color: white;
}

.routine-dropdown{
  margin-top: -26px;
  width: 50%;
}

#routine-dropdown{
  margin-left: 50%;
  margin-top: -26px;
}

#routine-selecter{
  margin-left: 200px;
  background-color: #39b491;
  color: white;
  border: 0px;
}

#routine-selecter:hover{
  background-color: #5fd0b0;

}
#routine-selecter:active{
  background-color: #2a8067;
}

.StartRoutinePopup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.StartRoutinePopup-Inner{
  position: relative; 
  padding: 30px;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
}

#StartRoutinePopup-close{
  background-color: black;
  color: white;
  border: 0px;
  position: absolute;
  top: 16px;
  right: 16px;
}